In [14]:
import pandas as pd

In [15]:
movies = pd.read_csv(r'mymovies.csv')

movies

In [44]:
movies

,Id,Name,Industry,genre,Language,Duration,Rating
0,NaN,Bahubali,Tollywood,Action,Telugu,170,9.5
1,NaN,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,NaN,uri -the surgical strike,Bollywood,Action,Hindi,120,10.0
3,NaN,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,NaN,Avengers-End of game,Hollywood,Action,English,180,9.0
5,NaN,Tenet,Hollywood,SciFi,English,150,8.5
6,NaN,Major,Bollywood,Action,Hindi,140,8.0
7,NaN,Intersteller,Hollywood,SciFi,English,190,7.0
8,NaN,Gravity,Hollywood,SciFi,English,130,6.0
9,NaN,Titanic,Hollywood,Drama,English,180,9.0
10,NaN,Yeh jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,NaN,Housefull,Bollywood,Comedy,Hindi,150,6.0
12,NaN,The Dictator,Hollywood,Comedy,English,120,7.0
13,NaN,Hera pheri,Bollywood,Comedy,Hindi,140,9.0
14,NaN,Sholay,Bollywood,Drama,Hindi,150,8.5

# q1

In [40]:
movies['Duration'].argmax()

7

In [19]:
movies['Name'][7]

'Intersteller'

In [89]:
movies['Name'][movies['Duration'].argmax()

SyntaxError: unexpected EOF while parsing (4128584848.py, line 1)

# q2

In [88]:
movies['Name'][movies['Rating']==10]

KeyError: 'Rating'

# q3

In [22]:
movies['Industry'].value_counts().count()

3

In [23]:
len(movies['Industry'].value_counts())

3

In [24]:
movies['Industry'].nunique()

3

In [25]:
movies['Industry'].value_counts()

Bollywood    8
Hollywood    6
Tollywood    1
Name: Industry, dtype: int64

#q4

# q4

In [27]:
movies['Name'][movies[movies['genre'] == 'Comedy']['Rating'].idxmin()]

KeyError: 'Rating'

# q5

In [28]:
movies['Name'][movies[movies['Language'] == 'English']['Duration'].idxmax()]

'Intersteller'

# q6

In [29]:
movies['genre'][movies['Name']=='Interstellar']

Series([], Name: genre, dtype: object)

In [39]:
movies['genre'][movies['Name'].str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

In [49]:
movies['Name'].str.endswith(0)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
Name: Name, dtype: float64

In [50]:
movies['Name'].str.get_dummies()

,Avengers-End of game,Bahubali,Brahmastra,DDLJ,Gravity,Hera pheri,Housefull,Intersteller,Major,Sholay,Tenet,The Dictator,Titanic,Yeh jawani Hai Deewani,uri -the surgical strike
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
11,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [58]:
movies['Name'].str.upper()

0                     BAHUBALI
1                   BRAHMASTRA
2     URI -THE SURGICAL STRIKE
3                         DDLJ
4         AVENGERS-END OF GAME
5                        TENET
6                        MAJOR
7                 INTERSTELLER
8                      GRAVITY
9                      TITANIC
10      YEH JAWANI HAI DEEWANI
11                   HOUSEFULL
12                THE DICTATOR
13                  HERA PHERI
14                      SHOLAY
Name: Name, dtype: object

In [64]:
movies['Name'].str.strip()

0                     Bahubali
1                   Brahmastra
2     uri -the surgical strike
3                         DDLJ
4         Avengers-End of game
5                        Tenet
6                        Major
7                 Intersteller
8                      Gravity
9                      Titanic
10      Yeh jawani Hai Deewani
11                   Housefull
12                The Dictator
13                  Hera pheri
14                      Sholay
Name: Name, dtype: object

# q7

In [65]:
movies['genre'].unique()

array(['Action', 'Mystereous', 'Romantic', 'SciFi', 'Drama', 'Comedy'],
      dtype=object)

In [70]:
movies['genre'].nunique()

6

In [67]:
for genre in movies['genre'].unique():
    print(genre, movies[movies['genre']==genre]['Duration'].mean())

Action 152.5
Mystereous 180.0
Romantic 150.0
SciFi 156.66666666666666
Drama 165.0
Comedy 136.66666666666666

In [68]:
movies['genre'].value_counts()

Action        4
SciFi         3
Comedy        3
Romantic      2
Drama         2
Mystereous    1
Name: genre, dtype: int64

In [69]:
movies.groupby('genre')['Duration'].mean()

genre
Action        152.500000
Comedy        136.666667
Drama         165.000000
Mystereous    180.000000
Romantic      150.000000
SciFi         156.666667
Name: Duration, dtype: float64

In [72]:
movies.groupby(['genre','Industry'])['Duration'].mean()

genre       Industry
Action      Bollywood    130.000000
            Hollywood    180.000000
            Tollywood    170.000000
Comedy      Bollywood    145.000000
            Hollywood    120.000000
Drama       Bollywood    150.000000
            Hollywood    180.000000
Mystereous  Bollywood    180.000000
Romantic    Bollywood    150.000000
SciFi       Hollywood    156.666667
Name: Duration, dtype: float64

In [73]:
movies.groupby(['Industry','genre'])['Duration'].mean()

Industry   genre
Bollywood  Action        130.000000
           Comedy        145.000000
           Drama         150.000000
           Mystereous    180.000000
           Romantic      150.000000
Hollywood  Action        180.000000
           Comedy        120.000000
           Drama         180.000000
           SciFi         156.666667
Tollywood  Action        170.000000
Name: Duration, dtype: float64

In [74]:
movies.describe()

        Id    Duration    Rating
count  0.0   15.000000  15.000000
mean   NaN  153.333333   7.833333
std    NaN   22.253946   1.718249
min    NaN  120.000000   5.000000
25%    NaN  140.000000   6.500000
50%    NaN  150.000000   8.500000
75%    NaN  175.000000   9.000000
max    NaN  190.000000  10.000000

In [76]:
movies.head()

,Id,Name,Industry,genre,Language,Duration,Rating
0,NaN,Bahubali,Tollywood,Action,Telugu,170,9.5
1,NaN,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,NaN,uri -the surgical strike,Bollywood,Action,Hindi,120,10.0
3,NaN,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,NaN,Avengers-End of game,Hollywood,Action,English,180,9.0

In [78]:
movies.drop(['Id'],axis=1, inplace=True)

In [79]:
movies

,Name,Industry,genre,Language,Duration,Rating
0,Bahubali,Tollywood,Action,Telugu,170,9.5
1,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,uri -the surgical strike,Bollywood,Action,Hindi,120,10.0
3,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,Avengers-End of game,Hollywood,Action,English,180,9.0
5,Tenet,Hollywood,SciFi,English,150,8.5
6,Major,Bollywood,Action,Hindi,140,8.0
7,Intersteller,Hollywood,SciFi,English,190,7.0
8,Gravity,Hollywood,SciFi,English,130,6.0
9,Titanic,Hollywood,Drama,English,180,9.0
10,Yeh jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,Housefull,Bollywood,Comedy,Hindi,150,6.0
12,The Dictator,Hollywood,Comedy,English,120,7.0
13,Hera pheri,Bollywood,Comedy,Hindi,140,9.0
14,Sholay,Bollywood,Drama,Hindi,150,8.5

In [83]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15 non-null     object
 1   Industry  15 non-null     object
 2   genre     15 non-null     object
 3   Language  15 non-null     object
 4   Duration  15 non-null     int64
 5   Rating    15 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 848.0+ bytes

In [84]:
movies.describe(include='all')

            Name   Industry   genre Language    Duration    Rating
count         15         15      15       15   15.000000  15.000000
unique        15          3       6        3         NaN        NaN
top     Bahubali  Bollywood  Action    Hindi         NaN        NaN
freq           1          8       4        8         NaN        NaN
mean         NaN        NaN     NaN      NaN  153.333333   7.833333
std          NaN        NaN     NaN      NaN   22.253946   1.718249
min          NaN        NaN     NaN      NaN  120.000000   5.000000
25%          NaN        NaN     NaN      NaN  140.000000   6.500000
50%          NaN        NaN     NaN      NaN  150.000000   8.500000
75%          NaN        NaN     NaN      NaN  175.000000   9.000000
max          NaN        NaN     NaN      NaN  190.000000  10.000000

In [85]:
movies.groupby('genre').describe().T

genre               Action      Comedy       Drama  Mystereous    Romantic  \
Duration count    4.000000    3.000000    2.000000         1.0    2.000000
         mean   152.500000  136.666667  165.000000       180.0  150.000000
         std     27.537853   15.275252   21.213203         NaN    0.000000
         min    120.000000  120.000000  150.000000       180.0  150.000000
         25%    135.000000  130.000000  157.500000       180.0  150.000000
         50%    155.000000  140.000000  165.000000       180.0  150.000000
         75%    172.500000  145.000000  172.500000       180.0  150.000000
         max    180.000000  150.000000  180.000000       180.0  150.000000
Rating   count    4.000000    3.000000    2.000000         1.0    2.000000
         mean     9.125000    7.333333    8.750000         5.0    7.500000
         std      0.853913    1.527525    0.353553         NaN    3.535534
         min      8.000000    6.000000    8.500000         5.0    5.000000
         25%      8.750000    6.500000    8.625000         5.0    6.250000
         50%      9.250000    7.000000    8.750000         5.0    7.500000
         75%      9.625000    8.000000    8.875000         5.0    8.750000
         max     10.000000    9.000000    9.000000         5.0   10.000000

genre                SciFi
Duration count    3.000000
         mean   156.666667
         std     30.550505
         min    130.000000
         25%    140.000000
         50%    150.000000
         75%    170.000000
         max    190.000000
Rating   count    3.000000
         mean     7.166667
         std      1.258306
         min      6.000000
         25%      6.500000
         50%      7.000000
         75%      7.750000
         max      8.500000

# q8

In [94]:
movies.groupby('Industry')['Rating'].mean()

KeyError: 'Column not found: Rating'

# q9

In [99]:
movies[movies['genre'].str.lower()=='Romantic'].groupby('Industry')['Rating'].mean()

NameError: name 'vies' is not defined

# q10

In [100]:
movies[movies['Language'].str.lower()=='English'][['Name','Rating']].sort_values(by='Rating', ascending=False)

KeyError: "['Rating'] not in index"