In [12]:
import pandas as pd

* Series---- 1d array
* Data Frame---- 2d array

In [27]:
a=pd.Series([])
b=pd.Series([1,25,552,55,855])
c=pd.Series((12,52,785,48,58))
d=pd.Series({'a':55,'b':95,'c':97,'d':48})

C:\Users\Garvi\AppData\Local\Temp\ipykernel_9308\1401649092.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series([])

In [3]:
print(type(a))
print(type(b))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [4]:
a

Series([], dtype: float64)

In [5]:
b

0      1
1     25
2    552
3     55
4    855
dtype: int64

In [1]:
import numpy as np

In [9]:
n =np.array([1,2,3,4,4])

In [13]:
x =pd.Series(n)

In [14]:
x

0    1
1    2
2    3
3    4
4    4
dtype: int32

In [15]:
type(x)

pandas.core.series.Series

In [17]:
b=pd.Series([1,2,[11,55],22,[12,54],23,25,78])

In [18]:
b

0           1
1           2
2    [11, 55]
3          22
4    [12, 54]
5          23
6          25
7          78
dtype: object

In [23]:
b[4]

[12, 54]

In [25]:
b[3:7]

3          22
4    [12, 54]
5          23
6          25
dtype: object

In [28]:
d

a    55
b    95
c    97
d    48
dtype: int64

In [30]:
d[3]

48

In [31]:
d['d']

48

In [32]:
d['b':]

b    95
c    97
d    48
dtype: int64

In [34]:
s=pd.Series([12,45,[45,47],78,58], index=['s','d','e','r','y'])

In [35]:
s

s          12
d          45
e    [45, 47]
r          78
y          58
dtype: object

In [84]:
s1=pd.Series([12,45,47,78,58], index=list('qwert'))

In [85]:
s1

q    12
w    45
e    47
r    78
t    58
dtype: int64

In [74]:
s2=pd.Series([12,45,45,47,78,58,12,23,56])

In [75]:
s2

0    12
1    45
2    45
3    47
4    78
5    58
6    12
7    23
8    56
dtype: int64

In [76]:
s2.value_counts()

12    2
45    2
47    1
78    1
58    1
23    1
56    1
dtype: int64

In [77]:
s2.max()

78

In [78]:
s2.min()

12

In [79]:
s2.argmax()

4

In [45]:
s2.argmin()

0

In [86]:
s1

q    12
w    45
e    47
r    78
t    58
dtype: int64

In [87]:
s1.idxmax()

'r'

In [88]:
s1.idxmin()

'q'

# Data Frame

In [65]:
a=pd.DataFrame()
b=pd.DataFrame([1,23,34,34,22])

In [66]:
a

Empty DataFrame
Columns: []
Index: []

In [67]:
type(b)

pandas.core.frame.DataFrame

In [68]:
b

    0
0   1
1  23
2  34
3  34
4  22

In [95]:
c=pd.DataFrame([[12,34,45],[34,45,56],[23,90,89],[23,34,54],[34,45,56],[45,34,23],[34,35,56],[34,56,78]])

In [96]:
c

    0   1   2
0  12  34  45
1  34  45  56
2  23  90  89
3  23  34  54
4  34  45  56
5  45  34  23
6  34  35  56
7  34  56  78

In [97]:
c.tail()

    0   1   2
3  23  34  54
4  34  45  56
5  45  34  23
6  34  35  56
7  34  56  78

In [98]:
c.head()

    0   1   2
0  12  34  45
1  34  45  56
2  23  90  89
3  23  34  54
4  34  45  56

In [100]:
c.sample(5)

    0   1   2
1  34  45  56
4  34  45  56
3  23  34  54
7  34  56  78
2  23  90  89

In [115]:
c1=pd.DataFrame([[12,45],[34,np.nan,'Missing'],[23,90,89],[54],[34,'Missing',56],[45,34,23],[34,35,56],[34,78]],columns=['colA','colB','colC'])

In [116]:
c1

   colA     colB     colC
0    12       45     None
1    34      NaN  Missing
2    23       90       89
3    54     None     None
4    34  Missing       56
5    45       34       23
6    34       35       56
7    34       78     None

In [124]:
c1[0:3][['colC','colB']]

      colC colB
0     None   45
1  Missing  NaN
2       89   90

In [125]:
c1.shape

(8, 3)

In [130]:
c1['colA'].max()

54

In [133]:
c1['new_col1']=[14,45,78,85,85,78,25,56]

In [134]:
c1

   colA     colB     colC  new_col  new_col1
0    12       45     None       14        14
1    34      NaN  Missing       45        45
2    23       90       89       78        78
3    54     None     None       85        85
4    34  Missing       56       85        85
5    45       34       23       78        78
6    34       35       56       25        25
7    34       78     None       56        56

In [135]:
c1['new_col2']=[14,45,78,85,85,78,25,56]

In [136]:
c1

   colA     colB     colC  new_col  new_col1  new_col2
0    12       45     None       14        14        14
1    34      NaN  Missing       45        45        45
2    23       90       89       78        78        78
3    54     None     None       85        85        85
4    34  Missing       56       85        85        85
5    45       34       23       78        78        78
6    34       35       56       25        25        25
7    34       78     None       56        56        56

In [137]:
c1['new_col3']=[14,45,78,85,85,78,25,56]

In [138]:
c1

   colA     colB     colC  new_col  new_col1  new_col2  new_col3
0    12       45     None       14        14        14        14
1    34      NaN  Missing       45        45        45        45
2    23       90       89       78        78        78        78
3    54     None     None       85        85        85        85
4    34  Missing       56       85        85        85        85
5    45       34       23       78        78        78        78
6    34       35       56       25        25        25        25
7    34       78     None       56        56        56        56